$color-rojo-panda: #e50914; // El rojo del botón y texto
$color-rojo-claro: #FF6467; // El rojo mas clarito
$color-fondo-oscuro: #141414; // Color de fondo oscuro
$color-texto-blanco: #ffffff; // Blanco basico