$color-rojo-panda: #e50914; // El rojo del botón y texto
$color-rojo-claro: #ff7779; // El rojo mas clarito
$color-rojo-fuerte-textos: #F15A5D; // Rojos mas fuetes para textos que se quiren hacer notar
$color-rojo-oscuro: #431517;
$color-rojo-oscuro-claro: #5f1f22;
$color-fondo-oscuro: #1F1F1F; // Color de fondo oscuro
$color-texto-blanco: #ffffff; // Blanco basico
$color-blanco-sucio: #d3d7db;
$color-azul-sistema: hsla(226, 61%, 73%, 0.445);
