$color-rojo-panda: #e50914; // El rojo del botón y texto
$color-rojo-claro: #ff7779; // El rojo mas clarito
$color-rojo-titulo: #FB2C36;
$color-rojo-fuerte-textos: #F15A5D; // Rojos mas fuetes para textos que se quiren hacer notar
$color-rojo-oscuro: #431517;
$color-rojo-oscuro-claro: #5f1f22;
$color-rojo-boton: linear-gradient(135deg, #f12519 0%, #b2140d 100%);
$color-rojo-degradado: radial-gradient(circle at top left,rgba(127, 29, 29, 0.25) 0%,rgba(69, 10, 10, 0.05) 70%,transparent 100%);
$color-rojo-lateral: linear-gradient(to right, #2e0909 0%, #080000 100%);
$color-fondo-header: #1A1A1A; // Color de fondo oscuro header
$color-fondo-main: #0A0A0A;
$color-fondo-controles: #1a1a1a;
$color-fondo-tarjeta: #050505;
$color-texto-blanco: #ffffff; // Blanco basico
$color-blanco-sucio: #d3d7db;
$color-blanco-sucioMas: #a7aaad;
$color-azul-sistema: hsla(226, 61%, 73%, 0.445);
$color-verde-exito: #2ecc71;
